<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travelapp.tamasya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.startup.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.startup.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.startup.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.startup.AfterSplashActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.startup.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.startup.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.startup.VerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">

<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->

        </activity>
    </application>

</manifest>